 * {
            font-family: 'Inter', sans-serif;
        }

        .container {
            width: 89.1%;
            margin: auto;

        }

        .nav_bar a {
            font-size: 16px;
            font-weight: 500;
            color: white;
            font-family: 'Inter', sans-serif;


        }

        .nav_bar a img {
            height: 32px;
            width: 32px;
        }

        .cards div {
            border-radius: 20px;
        }