.my-service {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #47475c;
}
.my-service i {
  color: #ffae00;
  font-size: 30px;
}
input::placeholder {
  color: white;
  font-weight: 700;
}

textarea::placeholder {
  color: white;
  font-weight: 700;
}
.phone {
  width: 91%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
   .icon {
            padding: 10px;
            background-color: grey;
            display: flex;
            justify-items: center;
            align-items: center;
            border-radius: 5px;
        }

        
       

        .my-service {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #47475c;
        }

        .my-service i {
            color: #ffae00;
            font-size: 50px;

        }

        .my-service h2 {
            font-size: 24px;
            font-weight: bold;
        }

        .my-service p {
            font-size: 16px;
            color: rgba(201, 196, 196, 0.979);
        }

        .my-service a {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .my-service a i {
            font-size: 32px;
        }

        .nav-bar {
            background-color: #0b0917;
        }
}
/* responsiveness for the the styles css  */
